config SUPPORT_HDMI
	depends on DRM_INTEL_MID
	bool

config INTEL_HDMI_AUDIO
	tristate "HDMI audio driver"
	depends on DRM_INTEL_MID
	select SUPPORT_HDMI
	help
	  Enables support for audio over HDMI.
